
.cam{
    color: white;
    position: fixed;
    /*background: red;*/
    width: 26%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;  
}



.cam .options{
    display: flex;
    justify-content: center;
    /*padding-top: 20px;*/
}
.options .options-li{
    margin: 0;
    padding: 0;
}
.options .options-li li{
    list-style: none;
    margin-top: 1.5rem;
}



.cam .cajas{
    /*background: red;*/
}



/*Dispositivos tabletas*/

@media (max-width: 768px) {
    .cam{
        height: 0%;
        grid-template-columns: 100%; 
    }
    .options .options-li{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .options .options-li li{
        margin-top: 0;
    }
    .cam .cajas h2{
        font-size: 4vw;
    }

}

