

.pheader{
    color: black;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pheader hr{
    width: 100%;
    box-sizing: border-box;
    
}

.pheader .textField{
    margin-top: 8px;
}

.pheader .textField h4{
    margin: 0;
    padding: 0;
}

.textField input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 7px 5px;
    outline-color: grey;
    
}