@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.pheader{
    font-family: 'Poppins', sans-serif;
    color: rgb(59, 58, 58);
    background-color: #fffafa;
    background: rgb(241, 219, 240);
    display: flex;
    flex-direction: column;
    font-size: calc(1rem * .8);
 
    /*align-items: center;*/
    height: 100%;
    padding: 5px;
}

.pheader hr{
    width: 100%;
    box-sizing: border-box;
    
}

.pheader p{  
    
    margin: 0;
    padding: 0;
}

.pheader .textField{
    margin-top: 8px;
   
}



.textField input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 7px 5px;
    outline-color: grey;
    
}





/*Dispositivos tabletas*/

@media (max-width: 768px) {
    
    .pheader{
        height: 480px;
       
    }
}

/*------------------------------Mobile-------------------------------------*/
@media (max-width: 425px) {
    
}