
.pheader{
    color: black;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
}

.pheader hr{
    width: 100%;
    box-sizing: border-box;
    
}

.pheader h3 , h4{  
    font-size: 1.29vw; 
    margin: 0;
    padding: 0;
}

.pheader .textField{
    margin-top: 8px;
}



.textField input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 7px 5px;
    outline-color: grey;
    
}





/*Dispositivos tabletas*/

@media (max-width: 768px) {
    .pheader  h3 , h4{  
        font-size: 12px; 
    }

}

/*------------------------------Mobile-------------------------------------*/
@media (max-width: 425px) {
    .pheader  h3 , h4{  
        font-size: 8px; 
    }
}