@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.Ptitulo{
    font-family: 'Poppins', sans-serif;
    color: rgb(136, 130, 130);
    background: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    font-size: calc(1rem * .8);
 
    /*align-items: center;*/
    height: 100%;
    padding: 5px;
}

.card-ptitulo .p-sub .msg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}
.card-ptitulo .p-sub .msg  .p-label {
    display: flex;
    width: 90%;
    justify-content: start;
    text-align: start;
    box-sizing: border-box;
    padding-top: 3px;
}

.card-ptitulo .p-sub .msg  input {
    padding: 10px 10px;
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;
    border: none;
}