@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.Pwasap{
    font-family: 'Poppins', sans-serif;
    background: rgb(45, 187, 10);
    padding: 2px 1px;
    box-sizing: border-box;
    color: rgb(122, 122, 122);
    border-radius: 12px;
    letter-spacing: 1px;
    font-size: calc(1rem * .9);
}

.Pwasap .card-pwasap{
    background: rgb(250, 247, 247);
    background: rgb(241, 219, 240);
    border-radius: 12px;
    height: 600px;
}

.card-pwasap .box-logo {
    position: relative;
    text-align: center;
    padding-bottom: 30px;  
}


.box-logo img{
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
    height: 120px;
}

.box-logo .circle{
    display: flex;
    justify-content: center;
}

.box-logo .circle img{
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    
}
.box-logo .what{
    display: flex;
    justify-content: center;
}

.box-logo .what p{
    position: absolute;
    top: 5px;
    font-weight: bold;
    color: white;
    background: rgba(0, 3, 0, 0.5);
    padding: 3px 4px;
    
}

.card-pwasap .msg  {
 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.card-pwasap .msg   input {
    
    padding: 10px 10px;
    border-radius: 5px;
    width: 90%;
    box-sizing: border-box;
    border: none;
}