

.pagina{
    padding-top: 76px;
    /*background: red;*/
    display: grid;
    grid-template-columns: 26% 74%;
    
}

.pagina .cambios{
    background: rgb(36, 35, 35);
    

}

.pagina .apariencia{
    background: #eff0e8;

}