@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.apariencia {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e7e7;
    position: relative;
    width: 100%;
    font-size: calc(1rem * .9);


}

/*-------------Cabezera de pagina------------------------*/
.apariencia .cl-cabezera {
    position: fixed;
    /*top: 0;*/
    z-index: 1;
    width: 74%;

    box-sizing: border-box;


}

.apariencia .cl-cabezera .apmenu {
    background: white;
    margin-top: -18px;
}

.apariencia .cl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px;
}

.cl-header .cl-titulo {
    display: flex;
    align-items: center;
}

.cl-titulo img {
    width: 50px;
    height: 50px;
}

.cl-header .cl-lista {
    display: flex;
    align-items: center;

}

.cl-header .cl-lista .li-s {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1.5rem;

}

.cl-header .cl-lista .icon-responive {
    display: none;
}

.cl-header .cl-lista .icon-responive li {
    list-style: none;
}

/*--------------Meniu interactivo  -------------------------------------*/
.icon_menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 5px;

}

.icon_menu span {
    width: 100%;
    height: 22px;
    background: rgb(255, 255, 255);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.a {
    transform: rotate(45deg)translate(-2px, -5px);
}

.b {
    opacity: 0;
    margin-left: -30px;
}

.c {
    transform: rotate(-45deg)translate(6px, 1px);
}



/*-------------Cabezera de pagina------------------------*/
.apariencia .p-portada {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apariencia .p-portada img{
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    height: 500px;
}

.apariencia .p-portada .desc {
    position: absolute;
    left: 10px;
    width: 50%;
    background: rgba(0, 3, 0, 0.5);
}

.apariencia .p-portada .desc h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(1.6rem * .9);
}
.apariencia .p-portada .desc p{
    letter-spacing: 1px;
    font-size: calc(1rem * .9);
    padding: 0;
    margin: 0;
}
.p-portada .desc ul{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: start;
    padding: 10px;
}

.p-portada .desc ul li{
    margin: 0;
    padding: 0;
    width: 10%;
}

/*--------------------------------------------------------------------------------------*/
.apariencia .cl-information{
    background: linear-gradient(to right, #c8e31d, #e7a50b);
    color: black;
    padding: 8px;
    
}

.apariencia .cl-information .card-information{
    border-radius: 8px;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.4);
    /*background: linear-gradient(to right, #c8e31d, #e7a50b);*/

}

.card-information .all-info .info-btn{
    display: flex;
    gap: 2px;
}
 
.card-information .all-info{
    width: 75%;
}


.card-information .all-info button {
    background: black;
    color: white;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    border: none;
}

.card-information .all-info button:hover {
    background-color: rgba(245, 245, 245, 0.85);
    cursor: pointer;
    color: black;
}







.apariencia .cl-contenido {
    padding: 10px;
    color: black;
}

.cl-contenido .contenido-producto {
    display: grid;
    /*grid-template-columns: repeat(auto-fit,minmax(min(250px , 100%) ,1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: 15px;
    justify-content: space-around;
    align-items: center;

}

.cl-contenido .caja-p {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra sutil a la tarjeta */
    transition: transform 0.3s ease;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    padding: 2px 4px;
    box-sizing: border-box;
    text-align: center;
}

.cl-contenido .caja-p:hover {
    transform: translateY(-5px);
}

.caja-p img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.caja-p .a-informacion {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.caja-p .nom {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
}

.caja-p .nom h3 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    /* Establece el grosor de la fuente del encabezado h3 en 400 */
    font-size: 18px;
}

.caja-p .nom p {
    color: #777777;
    /* Establece el color del texto de párrafo en #777777 */
    font-size: 14px;
    /* Establece el tamaño de la fuente del párrafo en 14px */
    margin: 0;
    padding: 0;
    /* Elimina los márgenes superiores e inferiores del párrafo */
    transition: color 0.3s ease;
    /* Aplica una transición suave de color con una duración de 0.3s */
}

.caja-p .nom h4 {
    font-weight: normal;
}






/*Modo tableta*/

@media (max-width: 768px) {

    .apariencia .cl-cabezera {
        width: 100%;
    }

    .cl-header .cl-lista .li-s {
        display: none;
    }

    .cl-header .cl-lista .icon-responive {
        display: block;
    }

}

@media (max-width: 480px) {

    .cl-contenido .contenido-producto {
        grid-template-columns: repeat(auto-fit, minmax(min(130px, 100%), 1fr));
        

    }

}