.my__caja{
    position: fixed;
    background: rgb(19, 1, 1);/*paso 2 efecto hover ventana emergente*/
    width: 100%;
    display: none; /* se mantiene oculto*/
    top: 60px;
    left: 0px;
    z-index: 2;
    opacity: 0; 
    
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; 
   
}
.my__caja .mini{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
}
.my__caja .mini .ab {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.my__caja .mini .ab h2{
    padding: 0;
    margin: 0;
}


.my__caja .mini .ab img{
    width: 50%; 
    margin-bottom: 10px;
}
.caja_btn{
    background: #000;
    color: white;
    padding: 8px;
    font-size: 18px;
    border: 2px solid rgb(181, 219, 181);
    border-radius: 18px;
}
.caja_btn:hover{
    background: rgb(27, 190, 27);
}
