/* CARROUSEL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.xpedidos{
  font-size: calc(1rem * .9);
}

.xpedidos .Despacho {
  position: relative;
  width: 100%;
  background: greenyellow;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.carousel-inner {
  display: flex;
  align-items: center;
  /* Centra verticalmente las imágenes */
  justify-content: center;
  /* Centra horizontalmente las imágenes */
  width: 300%;
  /* Cambia el valor según la cantidad de diapositivas */
}

.slide {
  flex: 10 10%;
  /* Cambia el valor según la cantidad de diapositivas */
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  /* Agrega esta línea para apilar el contenido */
  align-items: center;
  /* Centra horizontalmente el contenido */
  justify-content: center;
  /* Centra verticalmente el contenido */
}

.slide img {
  width: 450px;
  /* Establece el ancho máximo de la imagen */
  height: 300px;
  /* Establece la altura máxima de la imagen */
  object-fit: contain;
  /* Ajusta la imagen dentro del contenedor sin distorsionarla */
}

.image-info {
  text-align: center;
  margin-top: 5px;
}

.image-name {
  font-size: 18px;
  font-weight: bold;
}

.image-price {
  font-size: 14px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: #000000;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #d64949;
  border: none;
  cursor: pointer;
}

.indicator.active {
  background-color: #000000;
}

.slide a {
  display: block;
  position: relative;
}

.carousel-inner a {
  text-decoration: none;
  /* Elimina el subrayado predeterminado de los enlaces */
  color: inherit;
  /* Hereda el color del texto del contenedor padre */
}

.slide a:hover {
  transform: scale(1.05);
  /* Aplica un ligero efecto de zoom al pasar el cursor */
  transition: transform 0.3s ease-in-out;
}

.image-container {
  width: 450px;
  height: 300px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pe {
  background: yellow;
}

/* Barra de búsqueda */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-input {
  width: 300px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-input::placeholder {
  color: #aaa;
}

.search-input:focus {
  border-color: #555;
}

.search-button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background-color: #d2d2d2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  
}

.product-item:hover {
  transform: scale(1.05);
}

.product-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  font-size: 14px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-price {
  color: #888888;
}

@media screen and (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}



.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}

.search-bar {
  /* Estilos actuales de la barra de búsqueda */
}

/* Resto del CSS anterior */

@media screen and (max-width: 768px) {
  .product-grid {
    /* Estilos para dispositivos de hasta 768px */
  }
}

@media screen and (max-width: 480px) {
  .product-grid {
    /* Estilos para dispositivos de hasta 480px */
  }
}

/*----------------------------------------------------*/
.xpedidos .pedido-filtro{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
  flex-wrap: wrap;
}
.xpedidos .pedido-filtro button {
  background: black;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
  box-sizing: border-box;
  transition: all .5s;
}
.xpedidos .pedido-filtro button:hover {
  background-color: rgb(230, 197, 16);
  color: black;
  transform: scale(1.1);
}

.xpedidos .product-grid button {
  
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background .5s;
  box-sizing: border-box;
  transition: all .5s;
  font-weight: bold;
  
}

.xpedidos .product-grid button:hover {
  transform: scale(1.1);
}

.en-espera {
  background-color: rgb(236, 24, 24);
  transition: background-color 0.5s ease;
}

.completado {
  background-color: rgb(8, 194, 8);
  transition: background-color 0.5s ease;
}