
.campo {

    padding: 2px 2px;
    margin-top: 2px;
}
/*.campo input{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 6px;
    border-radius: 5px;
    border: none;
    outline-color: aqua;
    
}*/

.campo input {
    box-sizing: border-box;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
   
}

.campo .form-item {
    position: relative;
}

.campo .f{
    padding: 12px 0px;
    top: 24px;
    position: relative;
}